.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  /* position: relative;
  top: 0;
  left: 0; */
  width: 100%;
  max-height: 200px;
}

.header-image {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.home-container {
  /* margin: 60px auto;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; 
  height: 40vh; 
  text-align: center; */
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-container h2 {
  margin-bottom: 1rem;
}

.home-container p {
  margin-bottom: 1rem;
}

.home-container button {
  margin: 1rem;
}

.buttons-homepage {
   display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  margin: 0 auto; 
}

.buttons-homepage > * {
  flex: 1 1 calc(50% - 10px); /* Three equal-width columns with some margin between them */
  margin: 5px;
  
}



/* ADD OFFER */
.offer-container {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  max-width: 500px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.offer-container label {
  margin-bottom: 8px;
}

.offer-container .p-field {
  margin-bottom: 16px;
}

.offer-container .p-grid {
  width: 100%;
}

.offer-container .p-col-12 {
  width: 100%;
}

.offer-container .p-col-6 {
  width: 48%;
}

.offer-container .p-mb-2 {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .offer-container {
    margin: 0; /* Remove margins on mobile devices */
  }
}
