.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.factory {
  /* z-index: 1000; */

  max-width: 100%;
  height: auto;
}
